Topics Covered


*   Python intro
*   Features
*   Print / Output
*   Input
*   Basic Data Types

Before diving into code, lets learn about Python a little bitü©∑‚Äã

Python is a popular, high-level, and general-purpose programming language known for its clear, readable syntax that emphasizes code simplicity. Created by Guido van Rossum and released in 1991, it is used across a wide range of applications from web development to data science

**Features of Python:**

-Easy to Learn üß†
Simple, English-like syntax improves readability.

-Interpreted Language ‚ñ∂Ô∏è
Code is executed line by line, making debugging easier.

-High-Level Language üß©
Handles memory management automatically.

-Dynamically Typed üîÑ
No need to declare variable data types explicitly.

-Object-Oriented üß±
Supports classes, objects, inheritance, and polymorphism.

-Portable üåç
Runs on Windows, Linux, and macOS without code changes.

-Rich Standard Library üìö
Built-in modules reduce development time.

-Open Source üîì
Free to use and modify.

### Print Statement

In [ ]:
print("Hi Duniya")

Hi Duniya

In [ ]:
print ("100")
print (100)

100
100

Now, here both of the commands return 100 but the difference between them is that the first 100 is inside quotes which makes it a string whereas on the other hand the second 100 is integer data type.

### Taking input

In [ ]:
a = input("Please enter input")
print("Input is:", a)

Please enter input7
Input is: 7

The above command accepts all types of input but to make it data type specific, we slighlty modify the command

In [ ]:
a = int(input("Enter a number"))
print(a)

Enter a number8
8

### Variables

1. **No Declaration Required**
   Variables are created when a value is assigned.

   ```python
   x = 10
   ```

2. **Must Start with a Letter or Underscore**
   Valid:

   ```python
   name = "Python"
   _count = 5
   ```

   Invalid:

   ```python
   1num = 10   ‚ùå
   ```

3. **Cannot Start with a Number** üö´
   Variable names must not begin with digits.

4. **Only Letters, Numbers, and Underscores Allowed**
   Special characters like `@`, `$`, `%` are not allowed.

   ```python
   total_marks = 90
   ```

5. **Case-Sensitive** üî†

   ```python
   age = 20
   Age = 25   # Different variables
   ```

6. **No Reserved Keywords**
   Python keywords cannot be used as variable names.

   ```python
   class = 10   ‚ùå
   ```

7. **No Spaces Allowed**
   Use underscores instead.

   ```python
   first_name = "Alex"   ‚úÖ
   ```

8. **Meaningful Names Recommended** ‚úçÔ∏è

   ```python
   marks = 85   # Better than m
   ```

9. **Dynamic Typing Supported** üîÑ
   A variable can change its data type.

   ```python
   x = 10
   x = "Python"
   ```

---

 ‚úÖ Valid Variable Names

```python
score
total_score
_name
user1
```

‚ùå Invalid Variable Names

```python
2value
total-score
user name
for
```

---

In [ ]:
name = "Hiyaa"
age = 21
temp_today = 11.5
is_active = True

print(name)
print(age)
print(temp_today, "Degree Celsius")
print(is_active)

Hiyaa
21
11.5 Degree Celsius
True

To check the type of data, we use the type command

In [ ]:
print(type(name))
print(type(age))
print(type(temp_today))
print(type(is_active))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### Level 1 Data Types

üî¢ 1. int (Integer)

Stores whole numbers

Can be positive or negative

In [ ]:
age = 50
count = -10
print(age)
print(type(age))

50
<class 'int'>

üî¢ 2. float

Stores decimal (fractional) numbers

In [ ]:
price = 99.99
pi = 3.14
print(price)
print(type(price))

99.99
<class 'float'>

Formatting the float using format command or f-string

In [ ]:
x = 3.14159
print(format(x, ".2f"))   # upto two decimal points

x = 3.14159
print(f"{x:.4f}")   # upto four decimal points

3.14
3.1416

We can also round off, using the round function

In [ ]:
x = 3.14159

print(round(x, 2))   # Upto 2 places
print(round(x, 3))   # Upto 3 places

3.14
3.142

To truncate the decimal part, we simply type convert to int. It doesn't round off, instead removes the decimal part

In [ ]:
x = 3.9
print(int(x))

3

üìù 3. str (String)

Stores text or characters

Written inside quotes

In [ ]:
name = "Hiyaa"
city = 'Delhi'
print(name)
print(type(name))

Hiyaa
<class 'str'>

üîò 4. bool (Boolean)

Stores only two values: True or False

Used in conditions

In [ ]:
is_adult = True
is_logged_in = False
print(is_adult)
print(type(is_adult))

True
<class 'bool'>

üö´ 5. NoneType

Represents no value or empty variable

In [ ]:
result = None
print(result)

None

### Type Conversion

Type conversion is the process of converting one data type into another data type in Python.

Why?

Sometimes, you need to perform operations between different data types, and Python requires them to match.

In [ ]:
x = "10"
y = int(x)

print(y)
print(type(y))

**Types of Conversion**

1. Implicit Conversion (Type Casting)

Done automatically by Python.

Usually happens when mixing types in operations.

In [ ]:
x = 5
y = 2.5
z = x + y
print(z)

7.5

2. Explicit Conversion (Type Casting)

Done manually using built-in functions.

Common Functions:

int() ‚Üí convert to integer

float() ‚Üí convert to float

str() ‚Üí convert to string

bool() ‚Üí convert to boolean

In [ ]:
x = "10"
y = int(x)
print(y + 5)

15

However, you cannot change the type of incompatible types directly.
```
x = "hello"

int(x)   # ‚ùå Error