# Python lists - structured notes

- **What a list is**: an ordered, mutable collection that allows duplicates and mixed data types.
- **In-place methods return `None`**: `append()`, `extend()`, `insert()`, `remove()`, `sort()`, `reverse()`, `clear()` modify the list directly to avoid chaining mistakes.
- **Operations that return values**: `pop()` returns the removed element; `sorted()` returns a new list without changing the original.
- **Copying vs referencing**:
  - `L[:]`, `L.copy()`, and `list(L)` create a **shallow copy** (new outer list, same inner objects).
  - `B = L` only creates a new reference to the same list.
- **Nested list (simple idea)**: a list can contain other lists, e.g. `[[1, 2], [3, 4]]`.
- **Shallow copy with nested lists**: copying the outer list does not copy the inner lists, so changing an inner element changes it in all shallow copies.
- **Why use lists**: they support indexing, slicing, iteration, and dynamic resizing, making them good for frequently modified data.

Create the list `L` used throughout the examples.

In [1]:
L = [2,6,7,7,7.5,"Hiyaa","Praveen",True]

Slice from index 1 to the end of the list.

In [2]:
print(L[1:])

[6, 7, 7, 7.5, 'Hiyaa', 'Praveen', True]

Slice from the start up to index 3 (index 4 is excluded).

In [3]:
print(L[:4])

[2, 6, 7, 7]

Slice from index 2 up to index 4 (index 5 is excluded).

In [4]:
print(L[2:5])

[7, 7, 7.5]

Slice the last four elements using a negative start index.

In [5]:
print(L[-4:])

[7.5, 'Hiyaa', 'Praveen', True]

Slice from the start up to the element before index -3.

In [6]:
print(L[:-3])

[2, 6, 7, 7, 7.5]

Slice from index -5 up to index -3 (end index excluded).

In [7]:
print(L[-5:-2])

[7, 7.5, 'Hiyaa']

Slice with step 2 to get every second element.

In [8]:
print(L[::2])

[2, 7, 7.5, 'Praveen']

Slice from index 1 to the end with a step of 3.

In [9]:
print(L[1::3])

[6, 7.5, True]

Reverse the list using a step of -1.

In [10]:
print(L[::-1])

[True, 'Praveen', 'Hiyaa', 7.5, 7, 7, 6, 2]

Slice from index -2 down to the start with a step of -2.

In [11]:
print(L[-2::-2])

['Praveen', 7.5, 7, 2]

Slice from index 3 down to index 1 (end excluded) in reverse order.

In [12]:
print(L[3:0:-1])

[7, 7, 6]

Slice the entire list (a shallow copy).

In [13]:
print(L[:])

[2, 6, 7, 7, 7.5, 'Hiyaa', 'Praveen', True]

Slice the list in reverse order with step -2.

In [14]:
print(L[::-2])

[True, 'Hiyaa', 7, 6]

Slice from index 4 down to index 3 (end excluded) in reverse order.

In [15]:
print(L[4:2:-1])

[7.5, 7]

Count how many times `7` appears in the list.

In [16]:
print(L.count(7))

2

Find the index of the first occurrence of `7`.

In [17]:
print(L.index(7))

2

Append a new element to the end of the list.

In [18]:
L.append("11")
print(L)

[2, 6, 7, 7, 7.5, 'Hiyaa', 'Praveen', True, '11']

Insert a new element at index 2.

In [19]:
L.insert(2,"New Element")
print(L)

[2, 6, 'New Element', 7, 7, 7.5, 'Hiyaa', 'Praveen', True, '11']

Remove the first occurrence of `7` from the list.

In [20]:
L.remove(7)
print(L)

[2, 6, 'New Element', 7, 7.5, 'Hiyaa', 'Praveen', True, '11']

Remove and return the last element of the list.

In [21]:
L.pop()
print(L)

[2, 6, 'New Element', 7, 7.5, 'Hiyaa', 'Praveen', True]

Reverse the list in-place.

In [22]:
L.reverse()
print(L)

[True, 'Praveen', 'Hiyaa', 7.5, 7, 'New Element', 6, 2]